.posts {
  display: flex;
  flex-direction: column;

  &__add-post-button {
    @extend %big-button;

    align-self: center;
    margin-top: 15px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__list-item {
    margin-top: 10px;

    &:first-child {
      margin: 0;
    }
  }
}
